<section >
  <h1 class="text-center">Sobre Nosotros</h1>
  <div class="container">
    <div class="nosotros"> 
      <p class="texto">E-learning es un plataforma de educación online que ofrece cursos para capacitar a personas que requieren de habilidades para convertirse en líderes y empleados concienciados, sensibilizados y competentes para su desarrollo personal y para contribuir al progreso de sus empresas y organizaciones.</p>
      <p>
        Descubre un amplio contenido de formación para impulsar tu perfil laboral. Aprende todo lo que necesites seleccionando módulos concretos o, si lo prefieres, haz un curso completo.
      </p>
    </div >
    <div>
     
    </div>

    <div class="redes">
      <a  href="#" ><i class="fa-brands fa-facebook"></i></a>
      <a  href="#" ><i class="fa-brands fa-twitter"></i></a>
      <a  href="#" ><i class="fa-brands fa-instagram"></i></a>
      <a  href="#" ><i class="fa-brands fa-youtube"></i></a>


    </div>
   
  </div>

</section>
